//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #e44f25; // Changing primary color
// $primary: #e6af0d; // Changing primary color