.table-minapp-company {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.table-miniapp-logo {
    height: 32px;
    border-radius: 2px;
}

.custom-tag-margin {
    margin: 0 4px 2px 0;
}

.checkbox-selected {
    text-align: center;
}

.table-grey-mode {
    background-color: rgb(235, 235, 235);
}

.data-not-available {
    font-variant: small-caps;
    font-weight: 500;
    margin: auto;
}

.rate-scene-online, .rate-scene-onsite, .rate-scene-app {
    font-variant: small-caps;
    font-weight: 400;
    font-size: smaller;
    border-radius: 50px;
    padding: 2px 10px;
}

.rate-scene-online {
    color: rgb(10, 121, 20);    
    background-color: rgba(10, 121, 20, 0.2);
    
}

.rate-scene-onsite {
    color: rgb(133, 113, 4);
    background-color: rgba(133, 113, 4, 0.2);
    white-space: nowrap;
}

.rate-scene-app {
    color: rgb(6, 41, 138);
    background-color: rgba(6, 41, 138, 0.2);
}

.rate-data-date {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.rate-merch-id {
    font-size: smaller;
    font-weight: 500;
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
    max-width: 34px;
}

[dir] .main-menu .navbar-header .navbar-brand {
    margin-top: 1.2rem;
}

.display-pagination-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
}

[dir] #reviewsTable tbody tr td, [dir] #miniAppTable tbody tr td {
    height: 62px;
}

[dir] #accessControlTable tbody tr td, [dir] #reviewsTable tbody tr td {
    height: 62px;
}

.table-display-opt {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
}

.table-display-opt-item:hover, .table-display-opt-item:active {
    background-color: #ccc;
    cursor: pointer;
    border-radius: 4px;
}

.table-display-opt-item span {
    margin-left: 4px;
}

.avatar-thumbnail-wrapper {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid rgba(120, 120, 120, 0.3);
    padding: 4px;
}

.table-display-opt-item {
    padding: 4px 12px;
    font-weight: 500;
}

.table-op-icon {
    margin-right: 4px;
}

.custom-info {
    color: rgb(67, 67, 218);
}

[dir="ltr"] .vue-tel-input-custom .vti__input {
    padding: 0.55rem 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border-left: 1px solid #d8d6de;
    border-radius: 0 0.357rem 0.357rem 0;
}

[dir] .vue-tel-input-custom {
    border: 1px solid #d8d6de;
}

[dir] .vue-tel-input-custom {
    border: 1px solid #d8d6de !important;
}

[dir="ltr"] .vue-tel-input-custom .vti__input::placeholder {
    color: #7a7a7a;
}

[dir] .custom-file {
    z-index: 0;
}

.avatar-preview {
    max-width: 250px;
    max-height: 120px;
}

.img-thmbnail-preview {
    width: 100%;
    height: 100%;
}

.chevron-absolute-back {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 8px;
    color: rgb(223, 223, 223);
    border-radius: 8px 0 4px 4px;
}

.chevron-absolute-back:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
}

.pac-container {
    z-index: 10000 !important;
}

.three-line-ellipsis, .two-line-ellipsis, .one-line-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .one-line-ellipsis{
    -webkit-line-clamp: 1 !important;
  }
  .two-line-ellipsis{
    -webkit-line-clamp: 2 !important;
  }